body{
    background-color: rgba(165, 38, 165, 0.986)!important;
}

#bodynote{
    text-align: center;
    margin-top: 50px;
}
h1{
    padding-bottom: 20px;
    color: white;
}
button{
    margin-top: 20px;
    padding: 12px;
    background-color: rgb(1, 2, 53);
    color: white;
}
.card{
    margin-top: 75px;
    
}

